*,
html {
    box-sizing: border-box;
}

.main-content {
    max-width: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0px auto;
}

.main-title {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 3em;
}

.car-container {
    border: 3px solid #ffc67b;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    margin: 7px auto;
    width: 400px;
}

.overview-img {
    max-width: 300px;
    max-height: 300px;
    margin: 5px;
}

.contain-nav {
    max-width: 90%;
    margin: 0px auto;
}

.icons-nav {
    height: 60px;
}

.ulnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffa420;
}

.nav-li {
    float: right;
    height: 10px;
}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 2px 20px;
    text-decoration: none;
}

p {
    padding: 4px 20px;
}

.nav-li .nav-link:hover {
    background-color: #111;
}

.img-nav {
    height: 40%;
}

.about-inf {
    margin: 0px auto;
    color: green;
}